.App {
  text-align: center;
}

.Img {
  height: 300px;
  width: 170px;
}

.BeerList {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2%;
}

.single {
  width: 30%
}
.Form{
  display: flex;
  flex-direction: column;
  margin: 30px 400px
}

